{{#partial "contenido"}}

		<div class="container"> 
			<div class="table-responsive">
				<h3> Seleccione que consumo quiere ver </h3>
			</table>
		</div>
		
        <br/>
            
    	<div class="form-group">
			<a href="./consumoRecomendado">	
				<button type="button" class="btn btn-block btn-primary">
				Consumo recomendado
				</button>
			</a> 
		</div>		
		
		<br/>
		
		<form action="./consumoEnPeriodo" method="POST" >					
					<div>
						Elija el rango de fechas
						<input id="Fechas" type="text" required name="periodo" />
					</div>		
		<br/>
				<button type="submit" formmethod="post"class="btn btn-block btn-primary">
					Consumo en el periodo
				</button>
		</form>

		<br/>
		
		
		<script>
			$('#Fechas').daterangepicker({ "autoApply": true,  autoUpdateInput: false,
    										locale: {
          										cancelLabel: 'Clear'
      										}
										});
										
			$('#Fechas').on('apply.daterangepicker', function(ev, picker) {
      			$(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
 			 });

 			$('#Fechas').on('cancel.daterangepicker', function(ev, picker) { $(this).val(''); });
		</script>	
	 
		<div class="row">
			<div class="col-md-12 block-center">
				<ul class="list-group">
					{{#each dispositivosInteligentes}}
					<div class="list-group-item">
						<tr>
							<h4> <td> {{ nombre }} </td> </h4>
							<p> 
								<h6> Estado: {{ estado }} </h6>
								<h6> Consumo en el último período: {{ consumoUltimoMes }} kWs <h6>
								<h6> Ultima Medicion: {{ ultimaMedicion }} kWs </h6>
							</p>
						</tr>
					</div>
					{{/each}}
					
					{{#each dispositivosEstandar}}
					<div class="list-group-item">
						<tr>
							<h4> <td> {{ nombre }} </td> </h4>
							<p> 
								<h6> Consumo en el último período: {{ consumoUltimoMes }} kWs <h6>
								<h6> Ultima Medicion: {{ calcularConsumo }} kWs</h6>
							</p>
						</tr>
					</div>
					{{/each}}
				</ul>
			</div>
		</div>
		
		<br/>
			
{{/partial}}

{{>layout.hbs}}